body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*{
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  padding: 0px;
}

.navbar{
  background-color: #f33;
}

nav > a{
  color: white;
}

nav > a:hover{
  color: white;
}

.navbar-brand{
  font-size: 2rem;
  cursor: pointer;
}

.nav-item a{
  color: white;
}

.nav-item:hover{
  cursor: pointer;
  text-decoration: underline;
}

.login-box{
  height: 100vh;
  display: flex;
}

.vertical-box{
  width: 40%;
  height: 100%;
  background-color: #f33;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vertical-box h1{
  text-align: center;
}

.vertical-box p{
  margin-top: 40px;
  text-align: center;
}

.sign-up-box{
  height: 100vh;
  display: flex;
}

.signup-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.highlight{
  color:#f33;
}

.form-item{
  height: 50px;
  width: 100%;
}

.form-item + .form-item{
  margin-top: 20px;
}

.form-item > input{
  font-family: inherit;
  height: 100%;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 8px;
  background-color: #eee;
  outline: none;
  padding-left: 16px;
}

.form-item > button{
  font-family: inherit;
  height: 100%;
  width: 40%;
  background-color:#f33; 
  border: none;
  outline: none;
  border-radius: 8px;
  color: #eee;
  cursor: pointer;
}

.form-wrapper{
  width: 50%;
}

.form-wrapper > h1:nth-of-type(1){
  font-size: 2.5rem;
  text-align: center;
}

.form-wrapper > p:nth-of-type(1){
  margin-bottom: 8px;
  margin-top: 32px;
  text-align: center;
}

.course-form{
  width: 60%;
  max-width: 666px;
  border: 1px solid #f33;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.gpa-wrapper{
  height: 150px;
  background-color: #f33;
  width: 60%;
  max-width: 666px;
  margin-top: 60px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  position: relative;
}

.gpa{
  position: absolute;
  bottom: 0px;
  right: 8px;
  color: #eee;
  font-size: 3rem;
}

.container{
  padding-bottom: 60px;
}

.navbar-min-width{
  min-width: 520px;
}

@media only screen and (max-width: 890px){
  .login-box, .sign-up-box{
    flex-direction: column;
  }

  .sign-up-box .vertical-box{
    height: 40vh;
  }

  .vertical-box{
    height: 40%;
    width: 100%;
  }

  .signup-content{
    height: 60%;
    width: 100%;
  }

}

@media only screen and (max-width:600px){
  .gpa-wrapper{
    width: 90%;
  }

  .course-form{
    width: 90%;
  }

  .form-wrapper{
    width: 80%;
  }
}

@media only screen and (max-width:400px){
  .sign-up-box{
    height: auto;
    min-height: 100vh;
  }
  .sign-up-box .signup-content{
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .sign-up-box .signup-content .form-wrapper{
    margin: auto;
  }

}


