body {
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body{
  overflow-y: hidden;
}

*{
  margin: 0px;
  padding: 0px;
}

.login-box{
  height: 100vh;
  display: flex;
}

.vertical-box{
  width: 40%;
  height: 100%;
  background-color: #f33;
  color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.vertical-box p{
  margin-top: 40px;
}

.sign-up-box{
  height: 100vh;
  display: flex;
}

.signup-content{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.highlight{
  color:#f33;
}

.form-item{
  height: 50px;
  width: 100%;
}

.form-item + .form-item{
  margin-top: 20px;
}

.form-item > input{
  font-family: inherit;
  height: 100%;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 8px;
  background-color: #eee;
  outline: none;
  padding-left: 16px;
}

.form-item > button{
  font-family: inherit;
  height: 100%;
  width: 40%;
  background-color:#f33; 
  border: none;
  border-radius: 8px;
  color: #eee;
  cursor: pointer;
}

.form-wrapper{
  width: 50%;
}

.form-wrapper > h1:nth-of-type(1){
  font-size: 2.5rem;
  text-align: center;
}

.form-wrapper > p:nth-of-type(1){
  margin-bottom: 8px;
  margin-top: 32px;
  text-align: center;
}

